# general
*~
*.log
tmp
dump
 
# Eclipse
.settings
.cache
.scala_dependencies
bin
.classpath
 
# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
 
# Play
logs
RUNNING_PID