@(userForm : Form[User])

@import helper._
@import helper.twitterBootstrap._


@main("KalCalc - index") {

    <h1>Willkommen zu KalCalc</h1>
	Bitte geben Sie hier Ihre Daten ein. <br>
	<br>
	
	@helper.form(action = routes.Application.submit(), 'id -> "userForm"){
		<fieldset>
			@helper.inputRadioGroup(
          	userForm("Geschlecht"),
          	options = options("Mann"->"Mann","Frau"->"Frau"),
          	'_label -> "Gender",
         	'_error -> userForm("Geschlecht").error.map(_.withMessage("select gender"))
          	)
        </fieldset>
        
        <fieldset>
			@helper.inputText(userForm("Gewicht"))
			@helper.inputText(userForm("Groesse"))
			@helper.inputText(userForm("Alter"))
		</fieldset>
		
		<button type="submit" class="btn primary" value="Send">
			<img src="http://pics.wurzelimperium.de/pics/lager/regalkauf.png"  id="dagger" />
			<br>
			Sendenden
		</button>
	}
}