@import models.Question
@import models.Answer
@import helper._
@import helper.twitterBootstrap._

@(questionForm: Form[Question], questionList: List[Question])


@main("Frage bearbeiten"){
	
	<!-- TODO Inputfields dont look like Bootstrap -->
	@helper.form(action = routes.Application.sendEditedQuestion()){
		<fieldset>
			@helper.inputText(questionForm("questionID"))
			@helper.inputText(questionForm("questionText"))
			@helper.inputText(questionForm("voteScore"))
			@helper.inputText(questionForm("userID"))
			@helper.inputText(questionForm("page"))
		</fieldset>
		<input type="submit" class="btn btn-default">
	}
}