@* View class for the settings a user can change *@

@(questionList: List[Question], answerList: List[Answer])
@main("Einstellungen"){

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Einstellungen</h3>
	</div>
	<div class="panel-body">
		TODO: Implementieren!
		<hr>
		Hier drüber sollte eine Linie angezeigt werden

		<!-- TODO Remove, for understanding how a script function can toggle an icon -->
		<p>
			<img alt=""
				src="http://www.userinterfaceicons.com/80x80/minimize.png"
				style="height: 80px; width: 80px" id="imgClickAndChange"
				onclick="changeImage()" />
		</p>
		
		Questions:
		@for(question <- questionList){
			@question <br>
		}
		<br>
		Answers:
		@for(answer <- answerList){
			@answer <br>
		}
		
	</div>
</div>
}
