@import model.Question
@import model.Answer
@import helper.twitterBootstrap._

@(myMap: Map[Question, List[Answer]])

@main("Frage stellen"){
	
<!-- TODO Write function, that puts the input into a new Question -->
@* @myMap.put(new Question("id123", "Added Question", 34, "userID"), Nil: List[Answer]); *@

@for((question, value) <- myMap){
	@question.questionText <br>
	
	@for(answer <- value){
		- @answer.answerText <br>
	}
	<br>
}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Frage stellen</h3>
	</div>
	<div class="panel-body">
		  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="max. 160 Zeichen" name="sendMapInput">
      <span class="input-group-btn">
        <a href="@routes.Application.sendMap()"><button class="btn btn-default" type="button">Absenden</button></a>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 	</div>
</div>


<!-- TODO build a Form-Object and point it to here, then put the input-text into it and return it to the controller-class in order to put the input into the map, then return to the view class -->
<form method="post" action="@routes.Application.askQuestion()">
  <input type="text" class="form-control" name="sendMapInput" /><br/>
  <button type="submit" class="btn btn-default" value="Absenden">Absenden</button>
</form>
}
