@* This page is for when the user wants to ask a question. This page will probably get removed later, when I use Bootstrap modals to show a window which glides into the other view.
The page gets a hashMap from the controller with all the q/as and renders them.
*@

@import models.Question
@import models.Answer
@import helper._
@import helper.twitterBootstrap._

@(questionForm: Form[Question])


@main("Frage stellen"){
	
	<!-- TODO Inputfields dont look like Bootstrap, write own helper! -->
	@helper.form(action = routes.Application.sendQuestion()){
		<fieldset>
			@helper.inputText(questionForm("questionID"),'style -> "display: none")
			@helper.inputText(questionForm("questionText"),'size -> 30)
			@helper.inputText(questionForm("voteScore"))
			@helper.inputText(questionForm("ownerID"))
			@helper.inputText(questionForm("page"))
			
			
			
		</fieldset>
		<input type="submit" class="btn btn-default">
	}
}
