@import model.Question
@import model.Answer

@(myMap: Map[Question, List[Answer]])

@main("Frage stellen"){
	
<!-- TODO Write function, that puts the input into a new Question -->
@myMap.put(new Question("id123", "Added Question", 34, "userID"), Nil: List[Answer]);

@for((question, value) <- myMap){
	@question.questionText <br>
	
	@for(answer <- value){
		- @answer.answerText <br>
		}
	}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Frage stellen</h3>
	</div>
	<div class="panel-body">
		  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="max. 160 Zeichen">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="" method="POST">Absenden</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 	</div>
</div>
}
