@import model.Question
@import model.Answer

@(myMap: Map[Question, List[Answer]])


@main("Quiz"){
<div class="panel panel-default">


	<div class="panel-heading">
		<h3 class="panel-title">Quiz</h3>
	</div>
	<div class="panel-body">
		<!-- TODO Need to use LinkedHashMap in order to contain a sorted question answer pair, want to grab the first question only and its matching answers -->
		<div style="text-align: center;">TESTFRAGE</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Antworten</h3>
	</div>
	<div class="panel-body">
		<div style="text-align: center;">
				@* Sollte ich hier lieber Radiobuttons verwenden, fuer nur eine
				korrekte Antwort? *@
	
	<!-- FIXME Shows ALL answers so far... -->
			@for((question, value) <- myMap){
				@for(answer <- value){
					<div class="checkbox">
					<label><input type="checkbox" value="">@answer.answerText</label>
				</div>
				} 
			}
				
				<a href="@routes.Application.askQuestion()"><button
						class="btn btn-default" type="submit">Nächste Frage</button>
		</div>
	</div>
</div>
}
