@* View Class for the quiz that a student can take. It goes through all the questions and gets the ones with the highest voting score. Then it shows possible answers
with radio buttons and the user has to choose. *@

@import models.Question
@import models.Answer

@(questionList: List[Question], answerList: List[Answer])

@main("Quiz"){
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Quiz</h3>
	</div>
	<div class="panel-body">
		<div style="text-align: center;"> 
			<!-- As only the highest ranked question gets put into the List, there is only one entry on first place -->
			<b>@questionList.get(0).questionText</b>

			@for(question <- questionList)	{
				@question.questionText - @question.ownerID <br>
			}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Antworten</h3>
	</div>
	<div class="panel-body">
		<div style="text-align: center;">

				<!-- TODO radiobuttons need to be in a group? -->
				@for(answer <- answerList){
 						<div class="radio">
  							<label><input type="radio" name="optradio">@answer.answerText</label>
						</div>
				}
				<a href="@routes.Application.askQuestion()"><button
						class="btn btn-default" type="submit">Nächste Frage</button>
		</div>
	</div>
</div>
}
